.gutter {
  width: 0%;
}

@media (min-width: 640px) {
  .gutter {
    width: 1.5%;
  }
}

@media (min-width: 1024px) {
  .gutter {
    width: 1%;
  }
}

@media (min-width: 1200px) {
  .gutter {
    width: 1.5%;
  }
}

@media (min-width: 1600px) {
  .gutter {
    width: 1.5%;
  }
}